@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* style text  */
    /*  blue */
    .h3-medium-blue {
        @apply text-xl font-heading text-ui-blue-900;
    }

    .s1-medium-blue {
        @apply text-xs font-medium font-heading text-ui-blue-800;

    }

    .small-blue-semibold {
        @apply text-xs font-heading text-ui-blue-800 font-semibold;
    }

    /* gray */

    .h3-gray-500 {
        @apply text-xl font-heading text-ui-gray-500;
    }


    .h2-gray-two {
        @apply text-lg font-heading text-ui-gray-two;
    }

    .medium-gray-two {
        @apply text-sm font-heading text-ui-gray-two;
    }

    .small-gray-two {
        @apply text-2xs font-heading text-ui-gray-two;
    }


    .normal-gray {
        @apply text-sm font-heading text-ui-gray;
    }

    .medium-normal-gray {
        @apply text-sm font-heading text-ui-gray-300;
    }

    .p-bold-gray {
        @apply text-sm font-bold font-heading text-ui-gray-300;
    }

    .p-semibold-gray {
        @apply text-sm font-semibold font-heading text-ui-gray-300;
    }

    .h2-semibold-gray {
        @apply text-2xl font-semibold font-heading text-ui-gray-300;
    }


    .s2-medium-gray {
        @apply text-sm font-medium font-heading text-ui-gray-dark-300;

    }

    .s1-medium-gray {
        @apply text-xs font-medium font-heading text-ui-gray-dark-300;

    }

    .s1-small-gray {
        @apply text-2xs font-medium font-heading text-ui-gray-dark-300;

    }

    .h2-gray-bold {
        @apply text-2xl font-bold font-heading text-ui-gray-700;
    }


    /* white */
    .small-normal-white {
        @apply text-xs font-heading text-white;
    }

    /* black */

    .normal-semibold-black {
        @apply text-sm font-heading text-ui-black-native font-medium
    }

    .super-small-normal-black {
        @apply text-2xs font-heading text-ui-black
    }

    .small-normal-black {
        @apply text-sm font-heading text-ui-black
    }

    .h3-normal-black {
        @apply text-xl font-heading text-ui-black
    }
    .h2-normal-black {
        @apply text-2xl font-heading text-ui-black
    }

    /* red */
    .small-normal-red {
        @apply text-sm font-heading text-ui-red-500
    }

    /* green */
    .small-normal-green {
        @apply text-2xs font-heading text-ui-green-500
    }

    /* yellow */
    .small-normal-yellow {
        @apply text-2xs font-heading text-ui-yellow-400
    }

    /* others */
    .h-main {
        @apply h-screen;
        height: calc(100vh - 4rem);
        /* Altura de la pantalla menos el alto de la barra de navegación */
    }

    .h-910 {
        height: 90%;
    }

    .radio-custom {
        position: relative;
        padding: 10px;
    }

    .radio-custom input[type="radio"] {
        appearance: none;
        /* Remueve el estilo predeterminado */
        width: 20px;
        /* Tamaño del botón de radio */
        height: 20px;
        /* Tamaño del botón de radio */
        background: white;
        /* Color de fondo inicial */
        border: 1px solid #DBDBDB;
        /* Color de borde inicial */
        border-radius: 50%;
        /* Hace el botón redondo */
        cursor: pointer;
        display: inline-block;
        position: relative;
        outline: none;
        /* Elimina el contorno que se muestra al enfocar el input */
    }

    .radio-custom input[type="radio"]:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: transparent;
        transition: background 0.3s, border-color 0.3s;
        border: 1px solid transparent;
    }

    .radio-custom input[type="radio"]:checked:before {
        background-color: #4564FF;
        border-color: #4564FF;
        border: 1px solid #4564FF;
    }

    .no-padding {
        padding: 0 !important;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


}